<div id="loginPageContainer" class="center-center">

    <app-title-card [currentPage]="title"></app-title-card>
<!-- 
    <div id="login-banner" class="center-center">LOGIN</div> -->

    <div id="login-background" class="center-center login-background-appear" style="margin-top: 6rem;">

        <div id="emailAddress" class="section section-appear" style="margin-top: 4rem;">
            <p class="sectionTitle">Email Address</p>
            <input id="emailAddressInput" class="input">
        </div>

        <div id="password" class="section section-appear">
            <p class="sectionTitle">Password</p>
            <input id="passwordInput" class="input" type="password">
            <p id="forgotPasswordP">Forgot your password? Just remember it!</p>
        </div>
        
        <div id="rememberMe" class="section center-center section-appear" style="margin-top: 4rem;">
            
            <!-- <img id="checkbox-decor" src="./assets/LoginScreen-Graphics/RememberMe-Decor.png"> -->
            <div id="rememberMeCheckbox" class="checkbox" (click)="tickCheckbox()"></div>
            <img id="checkmark" class="checkmark" src="./assets/LoginScreen-Graphics/RememberMe-CheckMark.png">
            Remember Me</div>

        <div id="loginButton" (click)="navigateTo('verdict')" class="button center-center">LOGIN</div>

    </div>

    <div id="backButton" (click)="navigateTo('menu-page')">Back</div>
</div>