<div id="modal" class="center-center" (click)="closeModal()">


</div>
<div id="menuPageContainer" class="center-center">

    <div id="button-background" class="center-center button-background-appear">

        <div id="button-box" class="center-center button-box-appear" style="margin-top: 6rem;">

            <div id="login-button"class="button center-center button-appear" (mouseover)="changeHover('login-button')" (click)="navigateTo('log-in')">LOGIN</div>
            <div id="register-button" class="button center-center button-appear" (mouseover)="changeHover('register-button')" (click)="navigateTo('register')">REGISTER</div>
            <div id="anonView-button" class="button center-center button-appear" (mouseover)="changeHover('anonView-button')"  (click)="openModal()">View as Anonymous</div>
            <div id="about-button" class="button center-center button-appear" (mouseover)="changeHover('about-button')" (click)="navigateTo('about')">About</div>

        </div>

        <div id="decor" class="pos-abs">
            <img id="decor-circle" class="pos-abs" src="./assets/MainMenu-Graphics/ButtonHolder-Circle.png">
            <img id="decor-line" class="pos-abs" src="./assets/MainMenu-Graphics/ButtonHolder-Line.png">
        </div>
    </div>

    <app-title-card [currentPage]="title"></app-title-card>
</div>
<!--  -->
