$color-70: #2f2c31;
$color-20: #171212;
$color-20-2: #190f10;
$color-10: #d7e7e2;

#menuPageContainer {

  z-index: 1;
  width: 100vw;
  height: 100vh;
  flex-direction: column;

  overflow: hidden;

  transition: filter 1s cubic-bezier(0,0,0,1);
}

.center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#button-background {
    // overflow: hidden;
  position: relative;
  right: 0;

  margin-left: auto;

  flex-direction: column;
  width: 40vw;
  height: 90vh;
  background: radial-gradient(
    220.92% 49.94% at 50.08% 50.06%,
    #06050a 0%,
    #190f10 49.89%,
    rgba(6, 5, 10, 0) 99.05%
  );
}

#button-box {
  flex-direction: column;
  rotate: -1deg;
  transform-origin: left center;

  z-index: 99;
}

.button {
  z-index: 1;

  color: $color-10;

  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.44px;

  width: 364px;
  height: 63px;
  flex-shrink: 0;
  border-radius: 8px;
  background: $color-20;

  margin: 8px 0;

  transform-origin: left center;

  cursor: pointer;
}

$button-animate: 1s;

.button-hover {
  z-index: 99;

  transition: width $button-animate cubic-bezier(0, 0, 0, 1),
    // letter-spacing $button-animate cubic-bezier(0, 0, 0, 1),
    // font-size $button-animate cubic-bezier(0, 0, 0, 1)
    ;
  width: 450px;
  letter-spacing: 5px;
  font-size: 28px;

  background-color: $color-10;
  box-shadow: 0px 0px 36px $color-10;

  color: $color-20-2;

  border-radius: 0px;
}

// #login-button{
//     animation-delay: 0.01s;
// }

// #register-button{
//     animation-delay: 0.02s;
// }

// #anonView-button{
//     animation-delay: 0.03s;
// }

// #about-button{
//     animation-delay: 0.4s;
// }
#decor{
    pointer-events: none;
    scale: 0.65;

    z-index: 1;
    
}
.pos-abs{
    position: absolute;
}

#decor-circle{
    transform: translateX(-21rem) translateY(-20rem);
    animation: decor-circle-appear 0.5s cubic-bezier(0,0,0,1);
    animation-fill-mode: both;
}

#decor-line{
    transform: translateX(-25rem) translateY(-30rem);
    animation: decor-line-appear 0.8s cubic-bezier(0,0,0,1);
    animation-fill-mode: both;
}

// KEYFRAMES ----------------------------------------------------------------------------------------------------

@keyframes decor-circle-appear {
    from{
        transform: translateX(-19rem) translateY(-15rem) rotate(180deg) scale(0.1);
    }
    to{
        transform: translateX(-19rem) translateY(-15rem) rotate(20deg);
        opacity: 0.6;
    }
}
@keyframes decor-line-appear {
    from{
        transform: translateX(-25rem) translateY(-25rem) rotate(90deg) scale(0.3);
    }
    to{
        transform: translateX(-25rem) translateY(-27rem);
        opacity: 0.6;
    }
}

@keyframes button-background-appear {
  from {
    // transform: translateY(10rem);
    opacity: 0;
  }
}

@keyframes button-box-appear {
    from {
      transform: translateY(-5rem) translateX(-8rem) skewX(25deg) skewY(-15deg)
      scaleX(0.4);
      opacity: 0;
    }
}
  

@keyframes menuPage-to-loginPage-buttonBox {
    to{
        opacity: 0;
        transform: translateY(2rem) translateX(8rem) rotate(5deg) scaleX(0.4);       
    }
}
@keyframes menuPage-to-loginPage-buttonBackground {
    to{
        opacity: 0;
        transform: translateX(5vw);
        
    }
}

@keyframes menuPage-to-registerPage-buttonBox {
    to{
        opacity: 0;
        transform: translateX(10rem) translateY(2rem) rotate(-5deg) scaleX(0.4);       
    }
}
@keyframes menuPage-to-registerPage-buttonBackground {
    to{
        opacity: 0;
        transform: translateX(-10rem);
        
    }
}

@keyframes menuPage-to-aboutPage-buttonBox {
    to{
        opacity: 0;
        transform: translateY(-8rem) ;       
    }
}
@keyframes menuPage-to-aboutPage-buttonBackground {
    to{
        opacity: 0;
        transform: translateY(4rem);
        
    }
}

// @keyframes menuPage-to-loginPage-buttonBox {
//     to{
//         opacity: 0;
//         transform: translateY(2rem) translateX(8rem) rotate(5deg) scaleX(0.4);       
//     }
// }
// @keyframes menuPage-to-loginPage-buttonBackground {
//     to{
//         opacity: 0;
//         transform: translateX(5vw);
        
//     }
// }

// ANIMATION CLASS ----------------------------------------------------------------------------------------------

.animate-fillmode-both {
  animation-fill-mode: both;
}

.button-box-appear {
  animation: button-box-appear 0.5s cubic-bezier(0, 0, 0, 1);
  animation-fill-mode: both;
}

.button-background-appear {
    transform-origin: center center;
  animation: button-background-appear 0.5s cubic-bezier(0, 0, 0, 1);
  animation-fill-mode: both;
}

.menuPage-to-loginPage-buttonBox{
    animation: menuPage-to-loginPage-buttonBox .2s cubic-bezier(0, 0, 0, 1);
    animation-fill-mode: both;
}

.menuPage-to-loginPage-buttonBackground{
    transform-origin: right center;
    animation: menuPage-to-loginPage-buttonBackground .2s cubic-bezier(0, 0, 0, 1);
    animation-fill-mode: both;
}

.menuPage-to-registerPage-buttonBox{
    transform-origin: left center;
    animation: menuPage-to-registerPage-buttonBox .2s cubic-bezier(0, 0, 0, 1);
    animation-fill-mode: both;
}

.menuPage-to-registerPage-buttonBackground{
    transform-origin: left center;
    animation: menuPage-to-registerPage-buttonBackground .2s cubic-bezier(0, 0, 0, 1);
    animation-fill-mode: both;
}

.menuPage-to-aboutPage-buttonBox{
    transform-origin: left center;
    animation: menuPage-to-aboutPage-buttonBox .2s cubic-bezier(0, 0, 0, 1);
    animation-fill-mode: both;
}

.menuPage-to-aboutPage-buttonBackground{
    transform-origin: left center;
    animation: menuPage-to-aboutPage-buttonBackground .2s cubic-bezier(0, 0, 0, 1);
    animation-fill-mode: both;
}

// MODAL STYLES ----------------------------------------------------------------------------------------------------------------------------

#modal{
    position: absolute;

    display: none;
    width: 100%;
    height: 100%;

    opacity: 0.8;
    background-color: #12141C;
    z-index: 999;

    box-shadow: inset 0px 0px 5rem black;
}

.blur-content{
    filter: blur(10px);
}

