<div id="container">
    <div id="horizonLine"></div>
    <div id="button_holder">
        <div id="circle">
            <svg width="537" height="484" viewBox="0 0 537 484" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="273.5" cy="239.5" r="236" stroke="#888888"/>
                <rect x="390.15" y="483.768" width="478.566" height="251.75" transform="rotate(-144.476 390.15 483.768)" fill="#08080F"/>
                <rect x="529.471" y="222.431" width="481.07" height="45.0332" transform="rotate(156.867 529.471 222.431)" fill="#08080F"/>
            </svg>
        </div>
        <div id="lines">
            <svg width="778" height="857" viewBox="0 0 778 857" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="0.835588" y1="855.712" x2="725.116" y2="603.528" stroke="#595959"/>
                <line x1="493.052" y1="404.682" x2="628.332" y2="0.68248" stroke="#595959" stroke-width="2"/>
                <line x1="549.902" y1="368.51" x2="1035.9" y2="271.51" stroke="#595959"/>
            </svg>
        </div>
        <div id="button_box">
            <div id="login-button" class="button" (click)="navigateTo('log-in')">LOGIN</div>
            <div id="sign-up-button" class="button" (click)="navigateTo('sign-up')">SIGN UP</div>
            <div id="view-button" class="button" (click)="navigateTo('verdict')">VIEW AS ANNONYMOUS</div>
        </div>
    </div>
</div>