$scale: 0.6;
$appearDur: 0.7s;

@keyframes circle-animation{
  from{
    transform: scale(0) rotate(180deg) translateX(-2rem) translateY(-2rem);
  }
  to{
    transform: scale(1) rotate(0deg) translateX(-2rem) translateY(-2rem);
  }
}

.buttonHolder-circle-appear-animation{
  animation-name: circle-animation;
  animation-duration: $appearDur*2;
  animation-timing-function: cubic-bezier(0,0,0,1);
  animation-delay: 0s;
  animation-fill-mode: both;
}

@keyframes line-animation{
  from{
    transform: scale(0) rotate(20deg) translateX(13rem) translateY(-12rem);
  }
  to{
    transform: scale(1) rotate(-10deg) translateX(3rem) translateY(-2rem);
  }
}

.buttonHolder-line-appear-animation{
  animation-name: line-animation;
  animation-duration: $appearDur*2;
  animation-timing-function: cubic-bezier(0,0,0,1);
  animation-delay: 0s;
  animation-fill-mode: both;
}

@keyframes glassPieces-animation{
  from{
    transform: scale(0.1) rotate(40deg);
  }
  to{
    transform: scale(0.8) rotate(10deg) translateX(-3rem);
  }
}

.buttonHolder-glassPieces-appear-animation{
  animation-name: glassPieces-animation;
  animation-duration: $appearDur*3;
  animation-timing-function: cubic-bezier(0,0,0,1);
  animation-delay: 0s;
  animation-fill-mode: both;
}

@keyframes voidPiece1-animation{
  from{
    transform: scale(0.1) rotate(60deg) translateY(2rem);
  }
  to{
    transform: scale(1) rotate(0deg) translateY(2rem);
  }
}

.voidPiece-1-appear-animation{
  animation-name: voidPiece1-animation;
  animation-duration: $appearDur*2;
  animation-timing-function: cubic-bezier(0, 0, 0, 0.95);
  animation-delay: 0s;
  animation-fill-mode: both;
}

@keyframes voidPiece2-animation{
  from{
    transform: scale(0.1) rotate(-60deg) translateY(7rem);
  }
  to{
    transform: scale(1) rotate(0deg) translateY(7rem);
  }
}

.voidPiece-2-appear-animation{
  animation-name: voidPiece2-animation;
  animation-duration: $appearDur*2.5;
  animation-timing-function: cubic-bezier(0, 0, 0, 0.95);
  animation-delay: 0s;
  animation-fill-mode: both;
}

@keyframes background-animation{
  from{
    opacity: 0;
    transform: scaleY(0.1) translateX(-2rem);
  }
  to{
    opacity: 1;
    transform: scaleY(1) translateX(-2rem);
  }
}

.background-appear-animation{
  animation-name: background-animation;
  animation-duration: $appearDur*2.5;
  animation-timing-function: cubic-bezier(0, 0, 0, 0.95);
  animation-delay: 0s;
  animation-fill-mode: both;
}

@keyframes login-button-animation{
  from{
    transform-origin: right center;
    transform: scaleX(0) translateY(-2rem) translateX(18rem);
  }
  to{
    transform-origin: right center;
    transform: scaleX(1) translateY(-7rem);
  }
}

.login-button-appear-animation{
  animation-name: login-button-animation;
  animation-duration: $appearDur;
  animation-timing-function: cubic-bezier(0, 0, 0, 1);
  animation-delay: 0s;
  animation-fill-mode: both;
}

@keyframes sign-up-button-animation{
  from{
    transform-origin: right center;
    transform: scaleX(0) translateX(18rem);
  }
  to{
    transform-origin: right center;
    transform: scaleX(1);
  }
}

.sign-up-button-appear-animation{
  animation-name: sign-up-button-animation;
  animation-duration: $appearDur;
  animation-timing-function: cubic-bezier(0, 0, 0, 1);
  animation-delay: 0.1s;
  animation-fill-mode: both;
}

@keyframes view-aa-button-animation{
  from{
    transform-origin: right center;
    transform: scaleX(0) translateY(2rem) translateX(18rem);
  }
  to{
    transform-origin: right center;
    transform: scaleX(1) translateY(7rem);
  }
}

.view-aa-button-appear-animation{
  animation-name: view-aa-button-animation;
  animation-duration: $appearDur;
  animation-timing-function: cubic-bezier(0, 0, 0, 1);
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

@keyframes buttonContainer-animation{
  from{
    transform-origin: right center;
    transform: rotate(30deg) translateY(3rem) translateX(8rem);
  }
  to{
    transform: rotate(3deg)
  }
}

.buttonContainer-appear-animation{
  animation-name: buttonContainer-animation;
  animation-duration: $appearDur;
  animation-timing-function: cubic-bezier(0, 0, 0, 1);
  animation-delay: 0;
  animation-fill-mode: both;
}


#horizonLine {
  position: absolute;
  z-index: 0;
  height: 4px;
  width: 100vw;

  background-color: white;
  box-shadow: 0px 0px 24px rgba(88, 255, 215, 0.40); 

  transform: translateY(-6rem);
}

.center-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  width: 100vw;
  height: 100vh;
  background-color: #08080f;

  overflow: hidden;

  flex-direction: row;
}

#left-content{
  width: 50%;
  height: 100%;
}

#right-content{
  width: 50%;
  height: 100%; 

  overflow: hidden;

  transform: translateX(3rem) translateY(-2rem);
}

#button-container{
  flex-direction: column;
  position: absolute;
  z-index: 89;
}

.button-title{
  position: absolute;
  z-index: 99;

  cursor: pointer;
}

.button-placard{
  position: absolute;
  z-index: 90;

  filter: blur(1px);
  cursor: pointer;
}

#login-title{
  transform: translateX(-1rem);
}

#sign-up-title{
  transform: translateX(-3rem);
}

// #view-aa-title{
// }

#login-button{
  scale: $scale;
  transform: translateY(-7rem);
}

#sign-up-button{
  scale: $scale;
}

#view-aa-button{
  scale: $scale;
  transform: translateY(7rem);
}

#buttonHolder-circle{
  position: absolute;
  z-index: 80;
  scale: $scale;

  transform: translateX(-2rem) translateY(-2rem);
}

#buttonHolder-line{
  position: absolute;
  z-index: 80;
  transform: translateX(3rem) translateY(-2rem);

  scale: $scale;
}

#buttonHolder-glassPieces{
  position: absolute;
  z-index: 81;
  scale: $scale;
}

#buttonHolder-background{
  position: absolute;
  z-index: 10;
  scale: $scale;

  transform: translateX(-2rem);
  filter: blur(3px) brightness(50%);
}

#voidPiece-1{
  position: absolute;
  z-index: 71;
  scale: $scale;

  transform: translateY(2rem);
}

#voidPiece-2{
  position: absolute;
  z-index: 70;
  scale: $scale;

  transform: translateY(7rem);
}
