$color-70: #2F2C31;
$color-20: #171212;
$color-20-2: #190F10;
$color-10: #D7E7E2;

.center-center{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #aboutPageContainer{
    width: 100vw;
    height: 100vh;
  
    flex-direction: column;
  }

#backButton{
    width: 5rem;
    height: 5rem;
    color: $color-10;

    text-align: center;

    cursor:pointer;
    transition: all 0.2s ease;

    margin: auto 5rem 2rem auto;

    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}

#backButton:hover{
    transform: translateY(-4px);
    text-decoration: underline;
    text-underline-offset: 4px;
}

@keyframes backButton-out {
    to{
      opacity: 0;
      transform: translateX(2rem) translateY(2rem);
    }
  }

  .backButton-out{
    animation: backButton-out 0.2s cubic-bezier(0,0,0,1);
    animation-fill-mode: both;
}