$animationDur: 1.5s;

#container {
  width: 100vw;
  height: 100vh;
  background-color: #08080f;

  display: flex;
  overflow: hidden;

  align-items: center;
  justify-content: center;

  flex-direction: column;
}
@keyframes title {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

@keyframes horizonLine {
  from {
    transform-origin: center center;
    height: 0px;
    transform: scaleX(0) translateY(-2.1rem);
  }
  to {
    transform-origin: center center;
    height: 2px;
    transform: scaleX(1) translateY(-2.1rem);
    box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.41);
  }
}

#title_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  position: relative;
  z-index: 10;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  color: white;
  text-shadow: 0px -6px 34px rgba(88, 255, 215, 0.4);

  animation: title $animationDur cubic-bezier(0, 0, 0, 1);
  animation-fill-mode: both;
}

#horizonLine {
  position: absolute;
  z-index: 10;

  width: 100vw;
  color: white;
  background-color: white;

  transform-origin: center center;

  animation: horizonLine 1s cubic-bezier(1, 0, 0, 1);
  animation-fill-mode: both;
  animation-delay: 1s;
}

@keyframes subtitle {
  from {
    opacity: 0;
    transform: scale(1.2)
  }
  to {
    transform: scale(1)
  }
}

#subtitle {
  position: relative;
  z-index: 10;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  font-family: "Times New Roman", Times, serif;
  color: white;

  cursor: default;

  animation: subtitle 0.5s cubic-bezier(1, 0, 0, 1);
  animation-fill-mode: both;
  animation-delay: $animationDur * 1.5;
}

@keyframes subtitleHolder {
  from {
    opacity: 0;
    transform: scale(1.2) translateY(0.15rem);
  }
  to {
    transform: scale(1) translateY(0.15rem);
  }
}
#subtitleHolder{
  position: absolute;
  animation: subtitleHolder 0.5s cubic-bezier(1, 0, 0, 1);
  animation-fill-mode: both;
  animation-delay: $animationDur * 1.5;
}

@keyframes subtitleDecorLeft {
  from {
    opacity: 0;
    transform: translateX(0) translateY(0.8rem);
  }
  to {
    transform: translateX(-6.5rem) translateY(0.8rem);
  }
}

@keyframes subtitleDecorRight {
  from {
    opacity: 0;
    transform: translateX(0) translateY(-0.8rem);
  }
  to {
    transform: translateX(6.5rem) translateY(-0.8rem);
  }
}

#subtitleDecorLeft {
  position: absolute;
  animation: subtitleDecorLeft 0.5s cubic-bezier(1, 0, 0, 1);
  animation-fill-mode: both;
  animation-delay: $animationDur * 1.5;
}

#subtitleDecorRight {
  position: absolute;
  animation: subtitleDecorRight 0.5s cubic-bezier(1, 0, 0, 1);
  animation-fill-mode: both;
  animation-delay: $animationDur * 1.5;
}
