$color-70: #2F2C31;
$color-20: #171212;
$color-20-2: #190F10;
$color-10: #D7E7E2;

.center-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

#landingPageContainer{
  width: 100vw;
  height: 100vh;

  flex-direction: column;
}

#placard{
  background-color: $color-20;
  padding: 0.5rem 5rem;
  margin:0 1rem;

  border-radius: 8px;

  color: #D7E7E2;

  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.28px;

  transition: all 0.3s cubic-bezier(1,0,0,1);
}

#placard:hover{
  margin: 0 3rem;
  letter-spacing: 2px;
}

.decor{
  position: relative;

  background-color: $color-10;
  height: 2px;
  width: 10vw;

  border-radius: 1px;
  transition: all 1s cubic-bezier(1,0,0,1);
  // margin:0 1rem ;
}
 
#leftDecor{
  left: 2rem;
}
#rightDecor{
  right: 2rem;
}


// KEYFRAMES ---------------------------------------------------------------------------------------------------------------------
@keyframes placardBox-fadeout {
  to{
    opacity: 0;
    transform: translateY(3rem);
  }
}

// KEYFRAMES ---------------------------------------------------------------------------------------------------------------------

.placardBox-fadeout{
  animation: placardBox-fadeout 0.5s cubic-bezier(1,0,0,1);
  animation-fill-mode: both;
}
